{% extends 'app.html' %}

{% block title %}- Adicionar Formulário {% endblock title %}

{% block content %}
{% load static %}
	<div class="center">
		{% if state == True %}
			<h1>Editar Formulário</h1>
		{% else %}
			<h1>Criar Formulário</h1>
		{% endif %}

		{% if error_message %}
		<br>
		<br>
		{{error_message}}
		{% endif %}

		<br><br>
			<form action="" method=POST>
				{% csrf_token %}
				{{ form.as_p }}

				<br>	
				<input type="submit" value="Next" class="btn btn-success">
				<a href="{% url 'Formulario:consultar_formularios' evento_id %}"><button type="button"
						class="btn btn-primary">Voltar</button></a><br><br>
			</form>
		<script>
			if ($("#id_tipo_de_formulárioid").val() != 2) {
				$('#id_tipo_de_eventoid').hide();
				$('#id_tipo_de_eventoid').removeAttr('required');

				var obj = document.querySelector("label[for='id_tipo_de_eventoid']");
				obj.style.display = "none";
				obj.style.visibility = "hidden";
			}
			else {
				$('#id_tipo_de_eventoid').show();
				$('#id_tipo_de_eventoid').attr('required', '');

				var obj = document.querySelector("label[for='id_tipo_de_eventoid']");
				obj.style.display = "block";
				obj.style.visibility = "visible";
			}


			$("#id_tipo_de_formulárioid").change(
				function () {
					if ($(this).val() == 2) {
						$('#id_tipo_de_eventoid').show();
						$('#id_tipo_de_eventoid').attr('required', '');

						var obj = document.querySelector("label[for='id_tipo_de_eventoid']");
						obj.style.display = "block";
						obj.style.visibility = "visible";
					}
					else {
						$('#id_tipo_de_eventoid').hide();
						$('#id_tipo_de_eventoid').removeAttr('required');

						var obj = document.querySelector("label[for='id_tipo_de_eventoid']");
						obj.style.display = "none";
						obj.style.visibility = "hidden";
						document.getElementById("id_tipo_de_eventoid").value = ""
					}
				}
			);

		</script>
	</div>
{% endblock content %}