<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<center>
		<h1>Criar um Formulario</h1>
		<br>
		<div class="container">
			<form action="" method=POST>
				{% csrf_token %}
				{{ form.as_p }}

				<input type="submit" value="Next" class="btn btn-success">
				<a href="{% url 'Formulario:consultar_formularios' %}"><button type="button"
						class="btn btn-primary">Voltar</button></a><br><br>


			</form>
		</div>


		<script>

			$('#id_tipo_de_eventoid').hide();
			$('#id_tipo_de_eventoid').removeAttr('required');

			var obj = document.querySelector("label[for='id_tipo_de_eventoid']");
			obj.style.display = "none";
			obj.style.visibility = "hidden";


			$("#id_tipo_de_formulárioid").change(
				function () {
					if ($(this).val() == 2) {
						$('#id_tipo_de_eventoid').show();
						$('#id_tipo_de_eventoid').attr('required', '');

						var obj = document.querySelector("label[for='id_tipo_de_eventoid']");
						obj.style.display = "block";
						obj.style.visibility = "visible";
					}
					else {
						$('#id_tipo_de_eventoid').hide();
						$('#id_tipo_de_eventoid').removeAttr('required');

						var obj = document.querySelector("label[for='id_tipo_de_eventoid']");
						obj.style.display = "none";
						obj.style.visibility = "hidden";
					}
				}
			);

		</script>
	</center>
</body>

</html>