{% extends 'app.html' %}

{% block title %}- Consultar Formulários {% endblock title %}

{% block content %}
{% load static %}
  <div class="container-fluid">
    <div class="center">
      <h1>Formulários do evento {{evento.nome}}</h1>
    </div>
    <br>
    {% if state == 'evento' %}
      <a href="{% url 'Formulario:add_formulario' evento.id %}"><button type="button" class="btn btn-primary">Add Formulário</button></a>
    {% else %} 
      <a href="{% url 'Formulario:add_formulario_special' %}"><button type="button" class="btn btn-primary">Add Formulário Proposta Evento</button></a>
    {% endif %}
      <a href="{% url 'Evento:consultar_eventos_all' %}"><button type="button" class="btn btn-primary">Voltar</button></a>

    <br><br>
    <table class="table">
      <tr>
        <th>Nome</th>
        <th>Tipo de Formulário</th>
        <th>Tipo de Evento</th>
        <th>Estado</th>
        <th>Opção</th>
      </tr>
      {% for f in Formulario %}
      <tr>
        <td>{{f.nome}}</td>
        <td>{{f.tipo_de_formulárioid}}</td>
        <td>
          {% if f.tipo_de_eventoid == None %}
            -----
          {% else %}
            {{f.tipo_de_eventoid}}
          {% endif %}  
        </td>
        <td>
          {% if f.publico == True %}
            Publico
          {% else %}
            Não está Publico
          {% endif %}
        </td>
        <td>
          {% if f.evento_id %}
            <a href="{% url 'Formulario:editar_formulario' f.id %}" class="card-link">Editar</a>
          {% else %}
            <a href="{% url 'Formulario:editar_formulario_special' f.id %}" class="card-link">Editar</a>
          {% endif %}
          <a> | </a>
          <a href="{% url 'Formulario:eliminar_formulario' f.id %}" class="card-link">Remover</a>
          <a> | </a>
          <a href="{% url 'Formulario:alterar_estado_formulario' f.id %}" class="card-link" onclick="clicked(event)">Alterar estado</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
<script>
  function clicked(e)
  {
      if(!confirm('Tem a certeza que pretende alterar o estado do formulário?')) {
          e.preventDefault();
      }
  }
  </script>
{% endblock content %}