{% extends 'app.html' %}

{% block title %}- Adicionar Formulário {% endblock title %}

{% block content %}
{% load static %}
  <div class="container-fluid">
    <div class="center">
      <h1>Perguntas</h1>
    </div>
    <br>  
      <a href="{% url 'Formulario:add_pergunta' formulario_id %}"><button type="button" class="btn btn-primary">Criar nova pergunta</button></a>
      {% if id == '1' %}
      <a href="{% url 'Formulario:add_pergunta_ao_formulario' formulario_id %}"><button type="button" class="btn btn-primary">Voltar</button></a>
      {% endif %}
    <br><br>
    <table class = "table">
      <tr>
        <th>Pergunta</th>
        <th>Tipo de Pergunta</th>
        <th>Respostas:</th>
        {% if id == '1' %}
          <th>Adicionar</th>
        {% else %}
          <th>Opções</th>
        {% endif %}
      </tr>
      {% for p in Pergunta %}
      <tr>
        <td>{{p.pergunta}}</td>
        <td>{{p.tipo_de_perguntaid.nome}}</td>
        <td class="dropdown">
          {% if p.tipo_de_perguntaid.id == 1 %}
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Ver respostas
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            {% for or in OpcaoResposta %}
              {% if or.perguntaid == p %}
                <li><a>{{or}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          {% else %}
            <p>----</p>
          {% endif %}
        </td>
        <td>
          {% if id == '1' %}
            <a href="{% url 'Formulario:add_pergunta_ao_formulario_action' p.id formulario_id %}" class="card-link">Adicionar</a>
            <a> | </a>
          {% endif %}
          <a href="{% url 'Formulario:editar_pergunta' p.id formulario_id %}" class="card-link">Editar</a>
          <a> | </a>
          <a href="{% url 'Formulario:remover_pergunta' p.id formulario_id %}" class="card-link">Remover</a>  
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
	{% endblock content %}