<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <center>
		<h1>Editar uma pergunta</h1>
		<br>
		{% if submitted %}
			A pergunta foi editada com sucesso!
			<br><br>
			{% if state == True %}
					<a href="{% url 'Formulario:add_pergunta_ao_formulario' formulario_id %}"><button type="button"
						class="btn btn-primary">Voltar</button></a>
			{% else %}
				{% if formulario_id == "None" %}
					<a class="btn btn-primary" href="{% url 'Formulario:consultar_perguntas' 0 formulario_id %}" role="button">Voltar</a>
				{% else %}
					<a class="btn btn-primary" href="{% url 'Formulario:consultar_perguntas' 1 formulario_id %}" role="button">Voltar</a>
				{% endif %}
			{% endif %}
		{% else %}

			<div class = "container">
			<form action="" method=POST>
				{% csrf_token %}
				{{ p_form.as_p }}
			
				<input type="submit" value="Submit" class="btn btn-success">

				{% if state == True %}
					<a href="{% url 'Formulario:add_pergunta_ao_formulario' formulario_id %}"><button type="button"
						class="btn btn-primary">Voltar</button></a>
				{% else %}
					{% if formulario_id == "None" %}
						<a href="{% url 'Formulario:consultar_perguntas' 0 formulario_id %}"><button type="button" class="btn btn-primary">Voltar</button></a>
					{% else %}
						<a href="{% url 'Formulario:consultar_perguntas' 1 formulario_id %}"><button type="button" class="btn btn-primary">Voltar</button></a>
					{% endif %}
				{% endif %}			
				<br><br>
			</form>
			</div>
		{% endif %}
	</center>

</body>

</html>