<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<center>

		<h1>Editar opção de resposta</h1>
		<br>
		<div class="container-fluid">
			<h3>{{ pergunta }}</h3>
		</div>
		<br>
		<ul>
			{% for r in respostas %}
			<li>
				{% if rid == r.id %}
				Editing: {{r}}
				{% else %}
				{{r}}
				{% endif %}
				<a href="{% url 'Formulario:delete_resposta' pergunta.id r.id formulario_id %}">Eliminar</a>
				<a> | </a>
				<a href="{% url 'Formulario:editar_opcao_resposta' pergunta.id r.id formulario_id %}">Editar</a>
			</li>
			{% endfor %}
		</ul>
		<br>
		<div class="container">
			<form action="" method=POST>
				{% csrf_token %}
				{{ form.as_p }}

				<input type="submit" value="Submit" class="btn btn-success">
				{% if formulario_id == "None" %}
				<a href="{% url 'Formulario:consultar_perguntas' 0 formulario_id %}"><button type="button"
						class="btn btn-primary">Voltar</button></a>
				{% else %}
				<a href="{% url 'Formulario:consultar_perguntas' 1 formulario_id %}"><button type="button"
						class="btn btn-primary">Voltar</button></a>
				{% endif %}

				<br><br>


			</form>
		</div>
	</center>

</body>

</html>