{% extends 'app.html' %}

{% block title %}- Visualizar Evento {% endblock title %}

{% block content %}
{% load static %}
<div class="center">

  <h1>{{formulario.nome}}</h1>

  {% if message != None %}
  {{message}}
  {% endif %}
  
  <form action="" method=POST>
    {% csrf_token %}
    <br>
    <label for="inscricao_id">ID da Inscrição</label>
    <br>
    <input type="number" id="inscricao_id" name="inscricao_id" maxlength="10" size="10" required>
    <br>
    <br>
    <input type="submit" value="Submeter" class="btn btn-success">
    <a class="btn btn-primary" href="{% url 'Inscriçao:consultar_inscricoes_all' %}" role="button">Voltar</a>
  </form>
  
</div>
{% endblock content %}