<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <h2>{{formulario.nome}}</h2>

  {% if message != None %}
  {{message}}
  <br>
  <a class="btn btn-primary" href="{% url 'Inscriçao:consultar_inscricoes_user' user.id %}" role="button">Voltar</a>
  {% else %}
  <form action="" method=POST>
    {% csrf_token %}
    {% for p in perguntas %}
    <br>
    <label for="{{p.str}}">{{p.str}}</label>
    <br>
    {% if p.type == 1 %}
    {% for ans in p.answer_options %}
    <input type="checkbox" id="{{p.str}}" name="{{p.str}}" value="{{ans}}">
    <label for="{{ans}}">{{ans}}</label>
    {% endfor %}
    {% else %}
    <input type="text" id="{{p.str}}" name="{{p.str}}" maxlength="{{p.answer_length}}" size="{{p.answer_length}}"{% if p.required %} required{% endif %}>
    {% endif %}
    <br>
    {% endfor %}
    <input type="submit" value="Submeter" class="btn btn-success">
    <a class="btn btn-primary" href="{% url 'Inscriçao:consultar_inscricoes_user' user.id %}" role="button">Voltar</a>
  </form>
  
  {% endif %}
</body>

</html>