<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <h2>Inscrições de {{evento.nome}}</h2>

  {% if form_inscricao == None %}
    Este evento não tem nenhum formulário de Inscrições.
    <br>
    <a href="{% url 'Formulario:add_formulario' %}">Criar formulário</a>


  {% else %}

    <br>
    Ver formulário como participante.
    <br>
    Editar formulario
    <br>
    Remover formulario
    <br>
    publicar formulário
    <br>
    (se estiver publico) esconder formulário

  {% endif %}
</body>

</html>