<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  {% if message != None %}
  {{message}}
  {% else %}
  Tem a certeza que pretende remover a inscrição de {{inscricao.participanteutilizadorid}} para o evento {{inscricao.eventoid}}?
  <form method=POST>
    {% csrf_token %}
    <input type="submit" value="Remover" class="btn btn-success">
    <a class="btn btn-primary" href="{% url 'Inscriçao:consultar_inscricoes_user' user_id %}" role="button">Voltar</a>
  </form>
  {% endif %}
</body>

</html>