{% load static %}

<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="{% url 'home' %}">
      <img src="{% static 'img/logo-navbar.png' %}" alt="Dia Aberto">
    </a>

    <a role="button" class="navbar-burger burger" onclick="onclick_burger(event)" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      {% if tipo_de_utilizador == 'Administrador'%}
        <a href="{% url 'Utilizadores:consultar_utilizadores' %}" class="navbar-item">
          Utilizadores
        </a>
        <a href="{% url 'Evento:consultar_eventos_all' %}" class="navbar-item">
          Eventos
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Recurso
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'Recurso:consultar_serviços' %}" class="navbar-item">Serviços</a>
            <a href="{% url 'Recurso:consultar_salas' %}" class="navbar-item">Salas</a>
            <a href="{% url 'Recurso:consultar_equipamentos' %}" class="navbar-item">Equipamentos</a>
          </div>
        </div>
      {% elif tipo_de_utilizador == 'Participante'%}
          <a href="" class="navbar-item">
          </a>
      {% elif tipo_de_utilizador == 'Proponente'%}
          <a href="" class="navbar-item"> 
          </a>
      {% else %}
        <a href="{% url 'Utilizadores:consultar_utilizadores' %}" class="navbar-item">
          Utilizadores
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Eventos
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'Evento:consultar_eventos_all' %}" class="navbar-item">Consultar Eventos</a>
            <a href="{% url 'Evento:criar_evento' %}" class="navbar-item">Criar Evento</a>
            <a href="{% url 'Evento:criar_logistica' %}" class="navbar-item">Criar Logística</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Recurso
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'Recurso:consultar_serviços' %}" class="navbar-item">Serviços</a>
            <a href="{% url 'Recurso:consultar_salas' %}" class="navbar-item">Salas</a>
            <a href="{% url 'Recurso:consultar_equipamentos' %}" class="navbar-item">Equipamentos</a>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        {% if tipo_de_utilizador == 'Administrador' %}
          <a href="" class="navbar-item">
            Perfil {{tipo_de_utilizador}}
          </a>
        {% elif tipo_de_utilizador == '' %}
          <a href="{% url 'Utilizadores:register' %}" class="navbar-item">
            Criar uma conta
          </a>
          <a href="" class="navbar-item">
            Login
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>


