{% load static %}

<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="{% url 'home' %}">
      <img src="{% static 'img/logo-navbar.png' %}" alt="Dia Aberto">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      {% if tipo_de_utilizador == 'Administrador'%}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Eventos
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'Evento:consultar_eventos_all' %}" class="navbar-item">Consultar Eventos</a>
            <a href="{% url 'Evento:criar_evento' %}" class="navbar-item">Criar Evento</a>
          </div>
        </div>
        <a href="{% url 'Utilizadores:consultar_utilizadores' %}" class="navbar-item">
          Utilizadores
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Recurso
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'Recurso:consultar_serviços' %}" class="navbar-item">Serviços</a>
            <a href="{% url 'Recurso:consultar_salas' %}" class="navbar-item">Salas</a>
            <a href="{% url 'Recurso:consultar_equipamentos' %}" class="navbar-item">Equipamentos</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Formulário
          </a>
          <div class="navbar-dropdown">
            <a href="" class="navbar-item">Formulários</a>
            <a href="{% url 'Formulario:consultar_perguntas' 0 None %}" class="navbar-item">Perguntas</a>
          </div>
        </div>
      {% elif tipo_de_utilizador == 'Participante'%}
          <a href="" class="navbar-item">
          </a>
      {% elif tipo_de_utilizador == 'Proponente'%}
          <a href="" class="navbar-item"> 
          </a>
      {% else %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Eventos
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'Evento:consultar_eventos_all' %}" class="navbar-item">Consultar Eventos</a>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        {% if user.is_authenticated %}
          <a href="" class="navbar-item">
            Perfil {{user.username}}
          </a>
          <a href="{% url 'Utilizadores:logout' %}" class="navbar-item">
            Logout
          </a>
        {% else %}
          <a href="{% url 'Utilizadores:register' %}" class="navbar-item">
            Registar-se
          </a>
          <a href="{% url 'Utilizadores:login' %}" class="navbar-item">
            Login
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>


