{% extends 'app.html' %}

{% block title %}- Atribuir Serviço {% endblock title %}

{% block content %}
{% load static %}
<div class="center">
    <form action="" method="POST">
        <h1>Atribua serviços ao evento</h1>
        <br><br>
        {% csrf_token %}

        {{ form.as_p }}

        <br>
        <input type="submit" value="submit" class="btn btn-primary"></input>

        <a href="{% url 'Evento:consultar_eventos_all' %}"><button type="button" class="btn btn-primary">Voltar</button></a>
  </form>
</div>

{% endblock content %}