<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>

  td {
  text-align: center;
  height: 30px;
}
  th {
  text-align: center;
  height: 30px;
}
  </style>
</head>

<body>

  <h2 style = "text-align: center">Eventos</h2>



  <br>
 <div class="dropdown container-fluid">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Tipos de Eventos
  </button>
  <div class="dropdown-menu container-fluid">
    <a class="dropdown-item" href="{% url 'Evento:consultar_eventos_all' %}">All</a>
    {% for c in TipoDeEvento %}
      <br><a class="dropdown-item" href="{% url 'Evento:consultar_eventos' c.id %}">{{c.nome}}</a>
    {% endfor %}
  </div>
</div>
<br>

  <table style="width:100%">
    <tr>
      <th>Nome</th>
      <th>Tipo de evento</th>
      <th>Estado</th>
      <th>Descricao</th>
      <th>Cancelar</th>
    </tr>
    {% for e in Eventos %}
    <tr>
      <td><a href = "{% url 'Evento:visualizar_evento' e.id %}">{{e.nome}}</a></td>
      <td>{{e.tipo_de_eventoid.nome}}</td>
      <td>{{e.estado}}</td>
      <td>{{e.descrição}}</td>
      <td><a href="{% url 'Evento:cancelar_evento' e.id %}" class="card-link">Cancelar Evento</a></td>
    </tr>
    {% endfor %}
  </table>

</body>

</html>