{% extends 'app.html' %}

{% block title %}- Visualizar Logistica {% endblock title %}

{% block content %}
{% load static %}
<div class="center">
  <h1>{{Evento.nome}}</h1>
</div>
<br><br>
  <a href="{% url 'Evento:consultar_eventos_all' %}"><button type="button" class="btn btn-primary">Voltar</button></a>
<br><br>

<table class="table">
    <tr>
      <th>Tipo de recurso</th>
      <th>Quantidade</th>
      <th>Dia inicial</th>
      <th>Dia final</th>
      <th>Hora inicial</th>
      <th>Hora final</th>
      <th>Capacidade</th>
      <th>Estado</th>
      <th>Ações</th>
    </tr>
    {% for l in Logistica %}
    <tr>
      <td>{{l.tipo_de_recursoid.nome}}</td>
      <td>{{l.quantidade}}</td>
      <td>{{l.dia_inicial}}</td>
      <td>{{l.dia_final}}</td>   
      <td>{{l.hora_inicial}}</td> 
      <td>{{l.hora_final}}</td> 
      <td>{{l.capacidade}}</td> 
      <td>{{l.estado}}</td> 
      <td> <a href="{% url 'Evento:cancelar_logistica' l.id %}">Cancelar Logistica</a><br>
           <a href="{% url 'Evento:editar_logistica' l.id %}">Editar Logistica</a><br>
           {% if l.estado == "Não submetido" %}
            <a href="{% url 'Evento:submeter_logistica' l.id %}">Submeter Logistica</a><br>
           {% endif %}
           {% if l.estado == "Submetido" %}
            <a href="{% url 'Evento:validar_logistica' l.id %}">Validar Logistica</a><br>
           {% endif %}
      </td>    
    </tr>
    {% endfor %}
  </table>
{% endblock content %}