{% extends 'app.html' %}

{% block title %}- Visualizar Evento {% endblock title %}

{% block content %}
{% load static %}
<div class="center">
<div class="card" style="width: 200px; text-align: center;">
  <div class="card-body">
    <h5 class="card-title">{{Evento.nome}}</h5>
    <p class="card-text">{{Evento.descrição}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{Evento.tipo_de_eventoid.nome}}</li>
    <li class="list-group-item">{{Evento.data}}</li>
    <li class="list-group-item">{{Evento.hora}}</li>
    <li class="list-group-item">Duração: {{Evento.duração}}</li>
    <li class="list-group-item">Valor: {{Evento.valor}}€</li>
    
    <li class="list-group-item">Salas: {% for l in Local %}{{l.localId}},{% endfor %}</li>
    
    <li class="list-group-item">Serviços: {% for s in Servico %}{{s.servicoId}},{% endfor %}</li>
    
    <li class="list-group-item">Equipamentos: {% for e in Equipamento %}{{e.equipamentoId}},{% endfor %}</li>
    
  </ul>
  <div class="card-body">
    <a href="{% url 'Evento:consultar_eventos_all' %}" class="card-link">Voltar</a>
  </div>
</div>
</div>
{% endblock content %}