{% extends 'app.html' %}

{% block title %}- Visualizar Evento {% endblock title %}

{% block content %}
{% load static %}
<div class="center">
<div class="card" style="width: 200px; text-align: center;">
  <div class="card-body">
    <h5 class="card-title">{{Evento.nome}}</h5><br>
    <p class="card-text">{{Evento.descrição}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{Evento.tipo_de_eventoid.nome}}</li>
    <li class="list-group-item">{{Evento.data}}</li>
    <li class="list-group-item">{{Evento.hora}}</li>
    <li class="list-group-item">Duração: {{Evento.duração}}h</li>
    <li class="list-group-item">Valor: {{Evento.valor}}€</li>
    
    <li class="list-group-item">Salas: {% for l in Local %}{{l.localId}},{% endfor %}</li>
    
    <li class="list-group-item">Serviços: {% for s in Servico %}{{s.servicoId}},{% endfor %}</li>
    
    <li class="list-group-item">Equipamentos: {% for e in Equipamento %}{{e.equipamentoId}},{% endfor %}</li>
    
  </ul>
  <div class="card-body">
    {% if user.TipoUtilizador == 'Administrador' %}
      <a href="{% url 'Evento:consultar_eventos_all' %}" class="card-link">Voltar</a>
    {% elif user == Evento.proponenteutilizadorid.utilizadorid %}
      <a href="{% url 'Evento:consultar_eventos_proponente_all' %}" class="card-link">Voltar</a>
    {% elif user.TipoUtilizador == 'Participante' %}
      <a href="{% url 'Inscriçao:criar' Evento.id %}" class="card-link">Inscrever-se</a>
      <a>|</a>   
      <a href="{% url 'Evento:consultar_eventos_validados_all' %}" class="card-link">Voltar</a> 
    {% else %}
      <a href="{% url 'Evento:consultar_eventos_validados_all' %}" class="card-link">Voltar</a>  
    {% endif %}
  </div>
</div>
</div>
{% endblock content %}