<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>

  td {
  text-align: center;
  height: 30px;
}
  th {
  text-align: center;
  height: 30px;
}
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Evento:criar_evento' %}">Criar evento</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Categorias
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'Evento:consultar_eventos_all' %}">All</a>
        {% for c in TipoDeEvento %}
        <a class="dropdown-item" href="{% url 'Evento:consultar_eventos' c.id %}">{{c.nome}}</a>
        {% endfor %}
      </div>
    </li>
  </ul>
</nav>
<br>

<br>

  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Tipo de evento</th>
      <th>Estado</th>
      <th>Descricao</th>
      <th>Ações</th>
    </tr>
    {% for e in Eventos %}
    <tr>
      <td>{{e.nome}}</td>
      <td>{{e.tipo_de_eventoid.nome}}</td>
      <td>{{e.estado}}</td>
      <td>{{e.descrição}}</td>
      <td><a href="{% url 'Evento:visualizar_evento' e.id %}">Visualizar Evento</a><br>
          <a href="{% url 'Evento:cancelar_evento' e.id %}">Cancelar Evento</a><br>
          <a href="{% url 'Evento:editar_evento' e.id %}">Editar Evento</a>
      </td>
    </tr>
    {% endfor %}
  </table>

</body>

</html>