<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <style>
  .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
  </style>

</head>

<br><br><br>

<div class="card" style="width: 200px; text-align: center;">
  <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4E0BAQGjobhM7AD4wA/company-logo_200_200/0/1604940354880?e=2159024400&v=beta&t=0NEL9q33yWAihZA2htZVFbLIcgQoguScABrhg-ulrio" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{Evento.nome}}</h5>
    <p class="card-text">{{Evento.descrição}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{Evento.tipo_de_eventoid.nome}}</li>
    <li class="list-group-item">{{Evento.data}}</li>
    <li class="list-group-item">{{Evento.hora}}</li>
    <li class="list-group-item">Duração: {{Evento.duração}}</li>
    <li class="list-group-item">Local: {{Evento.local}}</li>
    <li class="list-group-item">Valor: {{Evento.valor}}€</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'Evento:consultar_eventos_all' %}" class="card-link">Voltar</a>
  </div>
</div>

</body>

</html>